version: 2

workflows:
  version: 2
  main:
    jobs:
      - go-current
      - go-latest

jobs:
  go-current:
    docker:
      - image: circleci/golang:1.11
        environment:
          GO111MODULE: "ON"
    <<: *base
  go-latest:
    docker:
      - image: circleci/golang:latest
        environment:
          GO111MODULE: "ON"
    <<: *base

base: &base
  working_directory: /go/src/github.com/kubeteam/cobra
  steps:
    - checkout
    - run:
        name: "All Commands"
        command: |
          make spellcheck
          make build
